@font-face {
    font-family: 'notosans-bold';
    src: url(../fonts/Notosans/NotoSans-Bold.ttf);
}
@font-face {
    font-family: 'notosans';
    src: url(../fonts/Notosans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'fontawesome-brands';
    src: url(../fonts/fontawesome/fa-brands-400.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'fontawesome-duotone';
    src: url(../fonts/fontawesome/fa-duotone-900.woff2);
    font-weight: 900;
}
@font-face {
    font-family: 'fontawesome-light';
    src: url(../fonts/fontawesome/fa-light-300.woff2);
    font-weight: 300;
}
@font-face {
    font-family:'fontawesome';
    src: url(../fonts/fontawesome/fa-regular-400.woff2);
    font-weight: 400;
}
@font-face {
    font-family: 'fontawesome-solid';
    src: url(../fonts/fontawesome/fa-solid-900.woff2);
    font-weight: 900;
}

.fad{
    font-family:  'fontawesome-duotone';
    font-weight: 900;
    font-style: normal;
}

.fab{
    font-family:'fontawesome-solid';
    font-weight: 900;
    font-style: normal;
}

.fa,
.fad,
.fas,
.far,
.fal{
    font-family: 'fontawesome';
    font-style: normal;
}